doctype
head
  meta(http-equiv="Content-Type" content="text/html" charset="UTF-8")
  meta(http-equiv="Content-Language" content="en-us")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

  meta(name="HandheldFriendly" content="True")
  meta(http-equiv="cleartype" content="on")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  meta(http-equiv="cleartype" content="on")
  meta(name="apple-mobile-web-app-capable" content="yes")

  meta(name="version" content=config.version)

  title mirroring.chat

body(
  class=bodyClasses
  class=config.env
)

  header.mainHeader
    h1
      a.logo(href="/") mirroring.chat
      span
        em v
          = config.version
        = ' '
        | early development

  block content

  footer
    p.center &copy; #{moment().year()} Chris Spiegl | #[a(href="https://chrisspiegl.com/legal-disclosure/") Imprint]
